* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;

  --link-color: #0366d6;
  --black-color: #000;
}

body > header {
  text-align: center;
}

body.no-title > nav {
  margin-top: 2rem;
}

body > nav {
  margin-bottom: 2.5rem;
}

body > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body > nav > ul li {
  display: inline-flex;
  align-items: center;
}

body > nav > ul li:after {
  content: "\25CF";
  margin: 0 .7em;
  font-size: 10px;
}

body > nav > ul li:last-child:after {
  content: "";
}

body > nav > ul a {
  color: var(--link-color);
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.content {
  font-size: 16px;
}

.home .content h1 {
  font-size: 2.5em;
}

.content h1, .content h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  margin-bottom: 16px;
  margin-top: 24px;
}

.content h1[id] .heading-anchor, 
.content h2[id] .heading-anchor,
.content h3[id] .heading-anchor {
  margin-left: -25px;
  color: var(--black-color);
  visibility: hidden;
}

.content h1[id]:hover .heading-anchor,
.content h2[id]:hover .heading-anchor,
.content h3[id]:hover .heading-anchor,
.content h1[id] .heading-anchor:hover,
.content h2[id] .heading-anchor:hover,
.content h3[id] .heading-anchor:hover  {
  visibility: visible;
}

.content a {
  color: var(--link-color);
  text-decoration: none;
}

.content pre {
  font-size: 85%;
}

.content code:not([class*="language-"]) {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  margin: 0;
  padding: .2em .4em;
  font-size: 90%;
}

body > footer {
  height: 200px;
  position: relative;
  overflow: hidden;
}

body > footer a {
  color: #000;
  font-weight: 700;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-scratch, .inner-scratch {
  height: inherit;
}

.outer-scratch:after, .inner-scratch:after {
  content: '';
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  opacity: .08;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png') repeat center center;
  -webkit-animation: scratch 0.45s steps(1) infinite;
  animation: scratch 0.45s steps(1) infinite;
}

.inner-scratch:after {
  left: 30%;
  -webkit-animation: inner-scratch 2s infinite;
  animation: inner-scratch 2s infinite;
}

.grain:after {
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  opacity: .11;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
  -webkit-animation: grain 0.5s steps(1) infinite;
  animation: grain 0.5s steps(1) infinite;
}

/* Film Animations */
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0, 0);
  }

  10% {
    transform: translate(-1%, -1%);
  }

  20% {
    transform: translate(1%, 1%);
  }

  30% {
    transform: translate(-2%, -2%);
  }

  40% {
    transform: translate(3%, 3%);
  }

  50% {
    transform: translate(-3%, -3%);
  }

  60% {
    transform: translate(4%, 4%);
  }

  70% {
    transform: translate(-4%, -4%);
  }

  80% {
    transform: translate(2%, 2%);
  }

  90% {
    transform: translate(-3%, -3%);
  }
}

@keyframes scratch {
  0%, 100% {
    transform: translateX(0);
    opacity: 0.075;
  }

  10% {
    transform: translateX(-1%);
  }

  20% {
    transform: translateX(1%);
  }

  30% {
    transform: translateX(-2%);
        opacity: 0.09;
  }

  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.05;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.02;
  }

  90% {
    transform: translateX(-2%);
  }
}

@keyframes inner-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.08;
  }

  10% {
    transform: translateX(-1%);
  }

  20% {
    transform: translateX(1%);
  }

  30% {
    transform: translateX(-2%);
  }

  40% {
    transform: translateX(3%);
  }

  50% {
    transform: translateX(-3%);
    opacity: 0.06;
  }

  60% {
    transform: translateX(8%);
  }

  70% {
    transform: translateX(-3%);
  }

  80% {
    transform: translateX(10%);
    opacity: 0.03;
  }

  90% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(30%);
  }
}


/* Simple Title Animation */
@keyframes draw {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}


@keyframes draw-bottom {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 544px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 544px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1012px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1280px;
  }
}